<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Container for metadata(it is not displayed)
    Title,Styles,Link,Scripts,
    -->
    <meta charset="UTF-8">
    <title>First App</title>
</head>
<body>

Hello World!
<h1>Spring Boot</h1>
<h2>Spring Boot</h2>
<h3>Spring Boot</h3>

<h1 align="center" style="color: blue">Spring Framework</h1>
<ul>
    <li>MVC</li>
    <li>ORM</li>
</ul>

<a href="https://www.google.com"></a>

<table>
    <thead>
    <tr>
        <td>
            Loop
        </td>
        <td>
            Collecction
        </td>
        <td>
            Stream
        </td>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td>IoC</td>
        <td>DI</td>
        <td>Value</td>
    </tr>
    </tbody>
</table>

    <!--Forms-->
    <label>User Name:</label>
    <input type="text" name="username"><br>
    <label>Password:</label>
    <input type="password"><br>
    <label>Enter your comments:</label>
    <textarea name="comments"></textarea><br>

    <label>Please select your fav subject:</label>
    <input type="radio" name="Spring" value="IoC">IOC

    <label>Please select your company:</label>
    <input type="checkbox" name="company" value="My Company">

    <label>Select your car:</label>
        <select name="cars">
            <option value="Toyota">Toyota</option>
        </select>

    <form action="#" method="get">

    </form>

    <div>

    </div>
</body>
</html>